body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff8ed;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #f4e2c1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 80px;
}

.summary h1 {
    text-align: center;
    color: #d97706;
    padding: 3%;
}

.summary h2 {
    border-bottom: 2px solid #f4e2c1;
    padding-bottom: 10px;
    color: #bf5700;
}

.summary ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.summary li {
    padding: 5px 0;
}

.btn {
    display: block;
    width: 100%;
    background-color: #ffa500;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e69500;
}
