<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - HareKrishnaMasale</title>

    {% load static %}
    
    <link rel="stylesheet" href="{% static 'harekrishnamasale/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo">
                <img src="/media/homepage/logo.png" alt="HareKrishnaMasale Logo">
                <h3>HareKrishnaMasale</h3>
            </a>
            <ul>
                <li><a href="{% url 'product-list' %}">Products</a></li>
                <li><a href="{% url 'cart:cart-detail' %}">Cart</a></li>
                <li><a href="#contact">Contact</a></li>
                
                {% if user.is_authenticated %}
                    <li class="user-dropdown">
                        <span id="user-toggle" class="user-name">👤 {{ user.username }}</span>
                        <ul id="user-menu" class="dropdown-menu">
                            <li><a href="#">Your Profile</a></li>
                            <li>Your Orders</li>
                            <li>
                                <form method="POST" action="{% url 'logout' %}">
                                  {% csrf_token %}
                                  <button type="submit" class="logout-btn">Logout</button>
                                </form>
                            </li>                     
                        </ul>
                    </li>
                {% else %}
                    <li class="user-dropdown">
                        <a href="{% url 'login' %}"><span id="user-toggle" class="user-name">👤Login</span></a>
                        <ul id="user-menu" class="dropdown-menu">
                            <li>
                                <form method="get" action="{% url 'users:register' %}">
                                {% csrf_token %}
                                <button type="submit" class="logout-btn">Sign Up</button>
                                </form>
                            </li>                     
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section>
        <div class="container">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>

            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>

    <section id="contact">
        <h2>Contact Us</h2>
        <div class="contact-info">
            <div>📍 Location: Kota, India - 324010</div>
            <div>📞 Phone: +91 8769106573</div>
            <div>✉ Email: contact@harekrishnamasale.com</div>
        </div>
    </section>


    <footer>
        <p>&copy; 2025 HareKrishnaMasale. All Rights Reserved.</p>
    </footer>
</body>
</html>
